@font-face {
    font-family: 'Suisse';
    src: url(../suisse_family/SuisseIntl-Bold.ttf);
    font-weight: 500;
    
}
@font-face {
    font-family: 'Suisse';
    src: url(../suisse_family/SuisseIntl-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Suisse';
    src: url(../suisse_family/SuifsseIntl-Regular.tt);
    font-weight: 400;
}

@font-face {
    font-family: 'SangBleuEmpire',sans-serif;
    src: url(../sangbleuempire/SangBleuEmpireTrial-Regular.otf);
}




.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}



