/* body */

body {
    color: #000;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    background: #fed700;
    word-break: keep-all;
}

/* sc_hero */

.sc_hero {width: 100%;height: 100vh;position: relative;}

.sc_hero .lang_box {position: fixed;top: 15px;right: 15px;display: flex;z-index: 10;}

.sc_hero .lang_box .btn_lang {width: 24px;height: 24px;margin-left: 5px;border-radius: 50%;font-weight: 600;font-size: 10px;line-height: 24px;text-align: center;}

.sc_hero .lang_box .btn_lang.active {background: #000;color: #fff;}

.sc_hero .title {font-size: 18vw;font-weight: 500;line-height: 1;letter-spacing: -0.01em;text-transform: uppercase;position: absolute;top: 50%;transform: translateY(-50%);}

.sc_hero .video_box .title {z-index: 10;color: #fff;mix-blend-mode: overlay;}

.sc_hero .video_box video {width: 100%;height: 100%;object-fit: cover;position: absolute;left: 0;top: 0;clip: rect(38vh, 97vw, 62vh, 3vw);}

/* sc_vision */

.sc_vision {padding-bottom: 70px;}

.sc_vision .header {background: #23282a;margin-bottom: 65px;height: 200px;display: flex;align-items: center;font-size: 40px;color:#fed700;font-weight: 500;line-height: 1;letter-spacing: -0.01em;position: relative;overflow: hidden;}

.sc_vision .header .slogan {position: absolute;top: 50%;left: 0;transform: translate(150%,-50%);}

.sc_vision .content {padding: 0 20px;}

.sc_vision .desc+.desc {margin-top: 60px;}

.sc_vision .desc:nth-of-type(1) {text-indent: 48px;line-height: 1.5;color: rgba(0,0,0,0.7);max-width: 280px;}

.sc_vision .desc:nth-of-type(2) {font-family: 'Noto Sans KR', sans-serif;font-size: 14px;line-height: 1.6;font-weight: 400;}

/* sc_statistics */

.sc_statistics {height:600px;position: relative;}

.sc_statistics .item {display: flex;position: absolute;align-items: center;}

.sc_statistics .item:nth-of-type(1) {top: 9%;left: 5%;}

.sc_statistics .item:nth-of-type(2) {top: 30%;left: 20%;}

.sc_statistics .item:nth-of-type(3) {top: 58%;left: 10%;}

.sc_statistics .item .value {font-weight: 500;line-height: 1;}

.sc_statistics .item:nth-of-type(1) .value {margin-right: 16px;font-size: 96px;}

.sc_statistics .item:nth-of-type(2) .value {width: 160px;height: 160px;margin-right: 14px;display: flex;align-items: center;justify-content: center;color:#fed700;background: #23282a;border-radius: 50%;font-size: 48px;}

.sc_statistics .item:nth-of-type(3) .value {
    width: 100px;height: 100px;margin-right: 10px;display: flex;align-items: center;justify-content: center;font-size: 30px;background: #fff;border-radius: 50%;
}

.sc_statistics .item .name {font-size: 10px;font-weight: 600;line-height: 1.3;letter-spacing: 0.08em;}

/* sc_big_logo */

.sc_big_logo {width: 100%;padding: 0 20px;}

.sc_big_logo .logo_area {width: 100%;position: relative;}

.sc_big_logo .logo_area .logo {
    position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 10;
}

.sc_big_logo .logo_area .logo_bg {
    width: 100%;
}

/* sc_gallery_swipe */

.sc_gallery_swipe {padding: 100px 0;}

.sc_gallery_swipe .swiper {
    width: 100%;
    height: 100%;
}

.sc_gallery_swipe .gallery_swiper {padding: 0 30px;}

.sc_gallery_swipe .swiper-slide {
    background: #fff;
    padding: 20px 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 0.3s;
}

.sc_gallery_swipe .swiper-slide.scale {
    transform: scale(0.9);
}

.sc_gallery_swipe .swiper-slide.bg_yellow {background: #fed700;}

.sc_gallery_swipe .swiper-slide.bg_black {background: #23282a;}

.sc_gallery_swipe .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* sc_ceo */

.sc_ceo {padding: 0 15px 100px;}

.sc_ceo .title {margin-bottom: 30px;font-size: 28px;font-family: 'Noto Sans KR', sans-serif;font-weight: 500;line-height: 1.3;letter-spacing: -0.07em;color: #fed700;}

.sc_ceo .content .info_ceo {font-family: 'Noto Sans KR', sans-serif;display: flex;margin-bottom: 26px;font-size: 12px;line-height: 1.3;align-items: center;}

.sc_ceo .content .info_ceo .profile {flex-shrink: 0;width: 86px;height: 86px;object-fit: cover;margin-right: 18px;border-radius: 50%;}

.sc_ceo .content .info_ceo .name {font-weight: 500;display: block;color: #fed700;}

.sc_ceo .content .info_ceo .position {color:#fff;}

.sc_ceo .content .desc {font-family: 'Noto Sans KR', sans-serif;max-width: 266px;font-weight: 300;font-size: 14px;line-height: 1.6;color:#fff;margin-bottom: 35px;}

.sc_ceo .content .desc span {color:#fed700;}

.sc_ceo .content video {width: 100%;}

/* sc_gallery_fixed */

.sc_gallery_fixed {width: 100%;height: 130vw;overflow: hidden;}

.sc_gallery_fixed .content {width: 100%;height: 100%;position: relative;}

.sc_gallery_fixed .item {position: absolute;}

.sc_gallery_fixed .item:nth-of-type(1) {
    left: 20vw;
    height: 40vw;
    width: 40vw;
}

.sc_gallery_fixed .item:nth-of-type(2) {
    width: 30vw;
    left: -12vw;
}

.sc_gallery_fixed .item:nth-of-type(3) {
    left: 62vw;
    top: 5vw;
    width: 30vw;
}

.sc_gallery_fixed .item:nth-of-type(4) {
    width: 50vw;
    top: 42vw;
    left: 10vw;
}

.sc_gallery_fixed .item:nth-of-type(5) {
    width: 35vw;height: 48.5vw;
    top: 27vw;left: 62vw;
}

.sc_gallery_fixed .item:nth-of-type(6) {
    width: 38vw;
    top: 77vw;
}

.sc_gallery_fixed .item:nth-of-type(7) {
    width: 60vw;top: 77vw;left: 40vw;
}


.sc_gallery_fixed .item img {width: 100%;height: 100%;object-fit: cover;}

/* sc_team */

.sc_team {padding: 80px 18px 50px;}

.sc_team .txt_box {margin-bottom: 80px;}

.sc_team .txt_box .desc {max-width:280px;text-indent:48px;line-height: 1.5;color: hsla(0,0%,100%,.7);}

.sc_team .txt_box .count {display:block;margin-top: 60px;font-size: 96px;line-height: 1;color:#000;}


.sc_team .swiper {
    width: 100%;
    height: 100%;
}

.sc_team .swiper-slide {
    text-align: center;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sc_team .swiper-slide .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}


.sc_team .swiper-slide .name_box {
    opacity: 0;
    position: absolute;top: 0;left: 0;right: 0;bottom: 0;
    display: flex;justify-content: center;flex-direction: column;
    background: rgba(0,0,0,0.3);
    transition: 0.3s;
}

.sc_team .swiper-slide-active .name_box {opacity: 1;}

.sc_team .swiper-slide .name {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.sc_team .swiper-slide .desc {max-width: 210px;margin: 5px auto 0;font-size: 10px;line-height: 1.5;color:#fed700;padding: 0 25px;font-family: 'Noto Sans KR', sans-serif;}

/* sc_goal */

.sc_goal {padding: 50px 20px;}

.sc_goal .title {margin-bottom: 50px;font-size: 50px;font-weight: 500;line-height: 1;}

.sc_goal .desc {font-family: 'Noto Sans KR', sans-serif;padding: 0 18px;max-width: 280px;text-indent: 48px;line-height: 1.5;color: rgba(0,0,0,0.7)}

/* sc_story */

.none {display: none;}

.sc_story {margin-bottom: 100px;padding: 0 18px;}

.sc_story .content {padding-top: 55px;}

.sc_story .content .year {margin-bottom: 35px;font-size: 64px;font-weight: 700;line-height: 0.85;}

.sc_story .content .item {margin-bottom: 35px;}

.sc_story .content .item p {font-family: 'Noto Sans KR', sans-serif;margin-bottom: 20px;font-size: 12px;line-height: 1.8;font-weight: 400;text-transform: uppercase;max-width: 386px;}

.sc_story .content .item .img_box {display: flex;justify-content: space-between;}

.sc_story .content .item img {width: 100%; height:100%; object-fit: cover;}

.sc_story .content .item .img_box.half {padding-bottom:50%; position: relative;}

.sc_story .content .item .img_box.half img {width: calc(50% - 3px);position: absolute;top: 0;bottom: 0;}

.sc_story .content .item .img_box.half img:nth-of-type(1) {left: 0;}
.sc_story .content .item .img_box.half img:nth-of-type(2) {right: 0;}

.sc_story .content .item video {width: 100%;}

.sc_story .content .item video.half {width: 50%;}

/* sc_play */

.sc_play {width: 100%;overflow-x: hidden;}

#section_box { width: 500%; height: 80vh; display: flex; flex-wrap: nowrap; }

#section_box .item { width: 100%; height: 80vh; position: relative; display: flex; justify-content: center; align-items: center; padding: 20px; }

#section_box .item img {width: 100%;height: 100%;object-fit: cover;}

/* sc_news */

.sc_news {overflow: hidden;}

.sc_news_title {height: 200px;display: flex;align-items: center;font-size: 40px;font-weight: 500;line-height: 1;color:#000;white-space: nowrap;position: relative;top: 50%;right: -120%;transform: translateY(-50%);padding-top:300px;}

.sc_news .content {padding: 0 18px;}

.sc_news .content .item+.item {margin-top: 60px;}

.sc_news .content .item .date {margin-bottom: 20px;font-size: 10px;line-height: 1.6;color: rgba(0,0,0,.7)}

.sc_news .content .item .heading {max-width: 320px;font-size: 16px;line-height: 1.3;font-weight: 600;text-transform: uppercase;font-family: 'Noto Sans KR', sans-serif;}

.sc_news .content .item .heading:not(:last-child) {margin-bottom: 20px;}

.sc_news .content .item .desc {max-width:280px;font-size: 12px;line-height: 1.6;color: #858585;font-family: 'Noto Sans KR', sans-serif;}

.sc_news .content .link_more {margin-top: 69px;display: flex;align-items: center;font-size: 10px;line-height: 1.8;}

.sc_news .content .link_more .link_icon {width: 39px;height: 39px;display: flex;align-items: center;justify-content: center;background: #fed700;border-radius: 50%;margin-left: 15px;transition: 0.3s;}

.sc_news .content .link_more:hover .link_icon {margin-left: 25px;}

.sc_news .content .link_more .link_icon:after {content: "";
display: block;margin: -2px 0 0 -3px;width: 8px;height: 8px;border: 2px solid #000;border-left: 0;border-top: 0;border-radius: 2px;transform: rotate(-45deg);}


/* sc_beginning */

.sc_beginning {height: 100vh;position: relative;}

.sc_beginning .title {font-size: 50px;font-weight: 500;line-height: 1;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}

.sc_beginning .content {position: absolute;bottom: 0;left: 50%;transform: translate(-50%,100%);width: 100%;height: 50vh;}

.sc_beginning .content .item {position: absolute;}

.sc_beginning .content .item:nth-of-type(1) {
    left: 20vw;
    height: 40vw;
    width: 40vw;
}

.sc_beginning .content .item:nth-of-type(2) {
    width: 30vw;
    left: -12vw;
}

.sc_beginning .content .item:nth-of-type(3) {
    left: 62vw;
    top: 5vw;
    width: 30vw;
}

.sc_beginning .content .item:nth-of-type(4) {
    width: 50vw;
    top: 42vw;
    left: 10vw;
}

.sc_beginning .content .item:nth-of-type(5) {
    width: 35vw;height: 48.5vw;
    top: 27vw;
    left: 62vw;
}

.sc_beginning .content .item:nth-of-type(6) {
    width: 38vw;
    top: 77vw;
}

.sc_beginning .content .item:nth-of-type(7) {
    width: 60vw;
    top: 77vw;
    left: 40vw;
}

.sc_beginning .content .item img {width: 100%;height: 100%;object-fit: cover;}


/* sc_thanks */

.sc_thanks {padding: 80px 18px;}

.sc_thanks .content p {max-width: 280px;color: hsla(0,0%,100%,.7);text-indent: 48px;font-size: 14px;line-height: 1.6;}

.sc_thanks .content p+p {margin-top: 60px;}

.sc_thanks .content p:last-child {color:#fed700;font-size: 16px;line-height: 1.3;font-weight: 400;font-family: 'Noto Sans KR', sans-serif;}
